#quiz {
/*    background: #02f785;*/
    width:100%;
    height:25%;
    display: block;
}

#knowmore, #options { display:none; }

.no-click { pointer-events: none; }

#statement-area {
    width: 40%;
    margin:2% 0;
    left:30%;
    height:80%;
    background: black;
    color: white;
    display: table;
    cursor: move;
}

#statement-area span {
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width:90%;
    padding: 5%;
    cursor: move;
}

#buckets {
    display:block;
    top:25%;
/*    background: #f7e202;*/
    width:100%;
    height:75%;
}

#bucket1 ul, #bucket2 ul {
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    padding: 0;
    color: white;
}

#bucket1 ul li, #bucket2 ul li { 
    background: black;
    list-style-type: none; 
    text-align: center;
    width:88%;
    padding:3%;
    height: 35px;
    margin:3%;
    display: table;
}

#bucket1 ul li span, #bucket2 ul li span {
    display: table-cell;
    vertical-align: middle;
}

#bucket1, #bucket2 {
    margin: 5%;
    height: 85%;
    width: 40%;
    border:5px #fff solid;
    border-top: 0;
}

.hover-class-bucket {
    border:5px #e000c6 solid;
    border-top: 0;
}
#bucket2 {
    left:50%;
}

#messages {
    background: rgba(1,1,1,0.7);
    color: #fff;
    display: none;
    width:100%;
    height: 100%;
}

#messageBox {
    width: 90%;
    padding: 5%;
    top:40%;
    height:5%;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

    
    